[Desktop Entry]
Name=Netscape Communicator
Comment=Netscape Communicator World Wide Web Browser, E-mail and News client
Exec=/usr/bin/netscape-communicator
Icon=netscape.png
Terminal=0
Type=Application
