[Desktop Entry]
Name=Netscape Navigator
Comment=Netscape Navigator World Wide Web Browser
Exec=/usr/X11R6/bin/netscape-navigator
Icon=netscape.png
Terminal=0
Type=Application
