[Desktop Entry]
Name=Netscape Communicator
Comment=Netscape Communicator World Wide Web Browser, E-mail and News client
Comment[pl]=Netscape Communicator: przeglądarka WWW, program do obsługi poczty i news
Exec=/usr/X11R6/bin/netscape -COMMUNICATOR
Icon=netscape.png
Terminal=0
Type=Application
# vi: encoding=utf-8
