[Desktop Entry]
Name=Netscape Navigator
Name[ja]=ネットスケープナビゲータ
Name[ko]=낸봬이프
Comment=Netscape Navigator World Wide Web Browser
Comment[bg]=Netscape Навигатор
Comment[br]=Merdeer Netscape
Comment[ca]=Navegador d'Internet Netscape
Comment[cs]=Prohlížeč HTML souborů umístěných na Síti nebo disku
Comment[da]=Netscape webbetjener
Comment[de]=Netscape Navigator
Comment[el]=Φυλλομετρητής Netscape
Comment[es]=Navegador Netscape
Comment[et]=WWW lehitseja Netscape
Comment[eu]=Netscape Nabigatzailea
Comment[fi]=Netscape-internetselain
Comment[fr]=Netscape Navigateur
Comment[ga]=Súiladóir Idirlíon Netscape
Comment[gl]=Navegador Netscape
Comment[hr]=Netscape preglednik
Comment[hu]=Netscape Navigátor
Comment[id]=Browser Netscape Navigator
Comment[is]=Netscape Navigator vafri
Comment[it]=Netscape Navigator
Comment[ja]=ネットスケープナビゲータ - Webブラウザ
Comment[ko]=낸봬이프 웹브라우저
Comment[lt]=Netscape Naršyklė
Comment[nl]=Netscape Navigator
Comment[no]=Netscape nettleser
Comment[pl]=Przeglądarka WWW Netscape Navigator
Comment[pt]=Browser Netscape Navigator
Comment[pt_BR]=Navegador Netscape
Comment[ru]=Web навигатор Netscape
Comment[sk]=Prehliadač Netscape
Comment[sv]=Netscape Navigator - Webbläsare
Comment[tr]=Netscape internet gezgini
Comment[uk]=Навігатор Netscape
Comment[wa]=Netscape, li betcheu del rantoele daegnrece
Comment[zh_CN]=Netscape 浏览器
Comment[zh_TW]=Netscape 瀏覽器
Exec=/usr/bin/netscape -NAVIGATOR
Icon=netscape.png
Terminal=false
Categories=Network;WebBrowser
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
