[Desktop Entry]
Name=Netscape Communicator
Name[ja]=ネットスケープコミュニケータ
Comment=Netscape Communicator World Wide Web Browser, E-mail and News client
Comment[ja]=ネットスケープコミュミケータ - Webブラウザ、電子メールとニュースのクライアント
Comment[pl]=Netscape Communicator: przeglądarka WWW, program pocztowy i do obsługi news
Comment[ru]=Netscape Communicator - World Wide Web браузер, клиент E-mail и News
Comment[sv]=Netscape Communicator - Webbläsare, e-postklient och diskussionsgruppsprogram
Comment[uk]=Netscape Communicator - World Wide Web браузер, клієнт E-mail та News
Exec=/usr/bin/netscape -COMMUNICATOR
Icon=netscape.png
Terminal=0
Categories=Network
Type=Application
# vi: encoding=utf-8
